@font-face {
  font-family: h1;
  src: url(Rowdies-Bold.ttf);
}

@font-face {
  font-family: zmiana;
  src: url(JosefinSans-VariableFont_wght.ttf);
}

h1 {
  font-family: h1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: zmiana;
  background-color: #dbe7ec;
  color: #264653;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(90deg, #264653, #2e93bb);
  flex-wrap: wrap;
}

.logo-tytul {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ikonka {
  width: 80px;
  height: 80px;
}

.tytul-z-ikonka {
  color: white;
  font-size: 30px;
  margin: 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding: 6px 8px;
  border-radius: 5px;
}

.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}


.footer {
  text-align: center;
  background-color: #264653;
  color: #ffffff;
  padding: 10px;
  margin-top: 20px;
}


/* RESPONSYWNOŚĆ MENU I HEADERA */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-tytul {
    flex-direction: column;
    gap: 4px;
  }

  .ikonka {
    width: 60px;
    height: 60px;
  }

  .tytul-z-ikonka {
    font-size: 24px;
  }

  .menu {
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
  }

  .menu li a {
    font-size: 18px;
  }
}




.main {
  max-width: 800px;
  margin: 32px auto;
  padding: 0 16px;
}

.porada {
  background: #fff;
  padding: 24px;
  margin-bottom: 32px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.porada h2 {
  color: #d35400;
  margin-top: 0;
  font-family: h1;
}

.porada ul,
.porada ol {
  margin-top: 8px;
  padding-left: 24px;
}